$position-bottom: 16px !default;
$position-left: 16px !default;
$min-width: 288px !default;
$max-width: 568px !default;
$margin: 8px !default;
$margin-medium: 16px !default;
$margin-large: 24px !default;
$background-color: #323232 !default;
$border-radius: 4px !default;

$text-horizontal-padding: 16px !default;
$text-vertical-padding: 14px !default;
$text-font-size: 14px !default;
$text-color: #fff !default;

$actions-margin-right: 8px !default;

$close-margin-left: 8px !default;
$close-button-size: 32px !default;
$close-icon-size: 18px !default;
$close-icon-color: #fff !default;
