$horizontal-padding: 8px !default;
$vertical-padding: 4px !default;
$background-color: rgba(66, 66, 66, 0.9) !default;
$text-color: #fff !default;
$font-size: 12px !default;
$border-radius: 2px !default;
