@use '@miraidesigns/base';
@use '@miraidesigns/fx';
@use '@miraidesigns/helpers';
@use '@miraidesigns/theme';
@use '@miraidesigns/utils';

@mixin icon($size: 24px, $fill: var(--primary, #{theme.prop('primary')})) {
	height: utils.px2rem($size);
	width: utils.px2rem($size);
	fill: $fill;
	pointer-events: none;
}

@mixin image() {
	@include helpers.border-outline-reset();

	height: auto;
	width: 100%;
}

@mixin loading-bar() {
	@include fx.animation-standard(opacity, 200ms);

	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	user-select: none;

	&.active {
		visibility: visible;
		opacity: 1;
	}

	& > .bar {
		position: relative;
		height: utils.px2rem(4px);
		width: 100%;
		max-width: utils.px2rem(256px);
		overflow: hidden;
		background-color: var(--border, #{theme.prop('border')});
		border-radius: utils.px2rem(32px);

		&::before,
		&::after {
			content: '';
			position: absolute;
			display: block;
			height: utils.px2rem(4px);
			background-color: var(--border-hover, #{theme.prop('border-hover')});
			border-radius: utils.px2rem(32px);
		}

		&::before {
			animation: loading-bar-1 2s infinite;
		}

		&::after {
			animation: loading-bar-2 2s 0.5s infinite;
		}
	}

	@keyframes loading-bar-1 {
		from {
			left: -5%;
			width: 5%;
		}

		to {
			left: 130%;
			width: 100%;
		}
	}

	@keyframes loading-bar-2 {
		from {
			left: -80%;
			width: 80%;
		}

		to {
			left: 110%;
			width: 10%;
		}
	}
}

@mixin styles() {
	.#{base.$prefix}-icon {
		@include icon();

		&--small {
			height: utils.px2rem(18px);
			width: utils.px2rem(18px);
		}

		&--large {
			height: utils.px2rem(32px);
			width: utils.px2rem(32px);
		}
	}

	.#{base.$prefix}-img {
		@include image();
	}
}
