$sizes: (
	full: 100%,
	four-fifths: 80%,
	three-quarters: 75%,
	two-thirds: 66.666666667%,
	three-fifths: 60%,
	half: 50%,
	two-fifths: 40%,
	one-third: 33.3%,
	one-quarter: 25%,
	one-fifth: 20%,
) !default;
