$media-horizontal-margin: 56px !default; // We use this value to make sure that the navigation buttons are clearly visible.

$iframe-margin: 16px !default;
$iframe-border-color: #fff !default;
$iframe-border-size: 4px !default;
$iframe-border-radius: 4px !default;

$info-padding: 8px !default;
$info-background-color: rgba(0, 0, 0, 0.7) !default;

$title-color: #fff !default;

$description-color: rgba(255, 255, 255, 0.8) !default;

$control-icon-color: rgba(255, 255, 255, 0.7) !default;
$control-hover-icon-color: #fff !default;

$backdrop-background-color: #000 !default;
